<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CourseManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
	<servlet-name>CreateCourse</servlet-name>
	<servlet-class>cse.web.CreateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>CreateCourse</servlet-name>
	<url-pattern>/CreateCourse</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>AssignCourseTeacher</servlet-name>
	<servlet-class>cse.web.AsssignCourseTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>AssignCourseTeacher</servlet-name>
	<url-pattern>/AssignCourseTeacher</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>RegisterCourse</servlet-name>
	<servlet-class>cse.web.RegisterCourse</servlet-class>
  </servlet>
  <servlet-mapping>
	<servlet-name>RegisterCourse</servlet-name>
	<url-pattern>/RegisterCourse</url-pattern>
  </servlet-mapping>
  
</web-app>